.home {
    height: calc(100vh - 3rem);
    row-gap: 1rem;

    @media screen and (min-width: 786px) {
        height: 100vh;
    }

    &__data {
        align-self: center;

        @media screen and (min-width: 786px) {
            align-self: flex-end;
        }
    }

    &__title {
        font-size: $--big-font-size;
        margin-bottom: $--mb-5;

        &-color {
            color: $--first-color;
        }
    }

    &__social {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 786px) {
            padding-top: 0;
            padding-bottom: 2.5rem;
            flex-direction: row;
            align-self: flex-end;
        }

        &-icon {
            width: max-content;
            margin-bottom: $--mb-2;
            font-size: 1.5rem;
            color: $--first-color;

            &:hover {
                color: $--first-color;
            }

            @media screen and (min-width: 786px) {
                margin-bottom: 0;
                margin-right: $--mb-4;
            }
        }
    }

    &__img {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 275px;

        
        @media screen and (min-width: 786px) {
            width: 457px;
            bottom: 15%;
        }

        @media screen and (min-width: 1024px) {
            right: 10%;
        }
    }
}